* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#calculator {
    background-color: rgb(46, 46, 46);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

#display {
    color: white;
    width: 280px;
    margin: 10px auto;
    text-align: right;
    font-size: 4em;
}

.row {
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

button {
    font-size: 2em;
    width: 75px;
    height: 75px;
    background-color: rgb(94, 94, 94);
    color: white;
    border: none;
    border-radius: 50em;
}

.operator {
    background-color: orange;
}

#equals {
    width: 380px;
    border-radius: 2em;
    margin: 10px;
    background-color: lightgray;
    color: black;
}